<head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Convert <%= @from_currency %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
<% @currencies.keys.each do |symbol| %>
  <li>
    <a href="/<%= @from_currency %>/<%= symbol %>">Convert 1 <%= @from_currency %> to <%= symbol %>...</a>
  </li>

<% end %>
</ul>
